
# Do not manage temos directories.
bin
lib

# Skip VCCode config.
.vscode

# Do not checkin work specific initialisation.
script/work.sh

# Do not check in any environment customisations.
**/env.sh
**/secret_env.sh
